# Salin file ini menjadi ".env" lalu isi dengan token asli kamu
# Cara dapat token: buka https://huggingface.co/settings/tokens -> New Token -> pilih role "Read"
HF_TOKEN=HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Opsional, default 3000
PORT=3000

# ---- Konfigurasi Database MySQL (XAMPP) ----
# Default XAMPP: host localhost, user root, password KOSONG, port 3306
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=plant_doctor
